.navbar-large {
    display: none;
  }
  
  .navbar-small {
    display: flex;
  }
  
  @media (min-width: 768px) {
    .navbar-large {
      display: flex;
    }
  
    .navbar-small {
      display: none;
    }
  }
  