.empty-cart {
    text-align: center;
    margin-top: 50px;
  }
  
  .empty-cart img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .empty-cart p {
    font-size: 1.2rem;
    color: var(--ion-color-medium);
    margin-bottom: 20px;
  }
  
  .empty-cart ion-button {
    margin-top: 20px;
  }
  